<html>
    <body>
        {% if name %}
        <h1>Hello {{ name }}</h1>
        {% else %}
        <h1>Hello World</h1>
        {% endif %}
        <h1>var = {{ var }}</h1>       

        <form method="POST">
            {% csrf_token %}
            <label for="first_name">First name:</label>
            <input type="text" id="first_name" name="first_name">
            <br>
            <label for="last_name">Last name:</label>
            <input type="text" id="last_name" name="last_name">
            <br>
            <input type="submit" value="Create Person">
        </form>
        
        <p><a href="../people/">See all people</a></p>

    </body>
</html>